.page__ceranium {
    .main__breadcrumb {
        margin-bottom: 65px;
    }
}

.block__ceranium {
    @media (min-width: $screen-sm-max) {
        padding-bottom: 110px;

        .ceranium__history {
            .block__gallery {
                margin-top: 184px;
                text-align: right;
            }
        }
    }

    .block__content {
        color: $color__text;
        margin-bottom: 45px;
        line-height: 1.6;
    }

    .section__listing {
        li {
            margin-bottom: 15px;
        }
    }

    .ceranium__history {
        .section__title {
            margin-bottom: 32px;
        }
    }
}

.block__team {
    .block__winner-team {
        h2 {
            color: #154276;
            font-size: 40px;
            font-style: italic;
            font-weight: 300;
            line-height: 1.2;
            letter-spacing: -2.5px;
            padding-top: 85px;
        }

        .team__image {
            img {
                padding: 25px;
                border: 1px solid #164377;
                box-sizing: content-box;
                -webkit-box-sizing: content-box;
                -moz-box-sizing: content-box;
            }
        }
    }

    .block__acknowledgments {
        margin-bottom: 70px;

        .section__title {
            margin-bottom: 50px;
        }
    }
}

.block__sustentability {
    padding: 45px 0;
    min-height: 385px;
    color: $color__white;
    background: url(../../images/ceranium/sustentabilidade-bg.png) center center;
    background-size: cover;
    margin-bottom: -1px;

    .section__title {
        margin-bottom: 50px;
        color: $color__white;

        &:before {
            background-color: $color__white;
        }
    }
}