.block__contact {
    margin-bottom: 95px;

    .contact__form {
        padding: 30px 20px;
        box-shadow: 7px 7px 20px rgba(#154276, 0.25);
        -webkit-box-shadow: 7px 7px 20px rgba(#154276, 0.25);
        -moz-box-shadow: 7px 7px 20px rgba(#154276, 0.25);

        input:not(.btn),
        textarea,
        select {
            color: #1F1F1F;
            font-weight: 300;
            padding: 3px 12px;
            border: 1px solid #AAAAAA;
        }

        input[type="file"] {
            font-size: 14px;
            color: #1F1F1F;
            border: 0;
            padding: 0;
            font-style: italic;
        }

        ::-webkit-input-placeholder {
            font-weight: 300;
            color: #1F1F1F!important;
        }

        ::-moz-placeholder {
            font-weight: 300;
            color: #1F1F1F!important;
        }

        :-ms-input-placeholder {
            font-weight: 300;
            color: #1F1F1F!important;
        }

        :-moz-placeholder {
            font-weight: 300;
            color: #1F1F1F!important;
        }

        .form__actions {
            margin-top: 20px;
            text-align: right;
        }

        .btn {
            padding: 12px !important;
            width: 120px;

            &:not(:last-child){
                margin-right: 20px;
            }
        }
    }

    .form__contact-methods {
        margin-top: 40px;
        @include clearfix;

        > li {
            float: left;
            margin-bottom: 15px;
            font-size: 14px;
            color: $color__primary;
            
            a {
                color: $color__primary;
            }

            > i {
                float: left;
                margin-right: 20px;
            }

            &:last-of-type {
                clear: both;
            }
        }

        .social__listing {
            position: relative;
            top: -10px;

            a {
                color: $color__primary;
            }

            li {
                font-size: 24px;
                margin-right: 30px;

                &:last-child {
                    margin-right: 0
                }
            }
        }
    }

    .form__tip {
        color: #999999;
        font-size: 14px;
        font-style: italic;
        margin-bottom: 15px;
    }

    .form__upload-advice {
        display: block;
        margin-top: 15px;
        font-size: 14px;
    }

    .label__name {
        font-size: 14px;
        font-weight: 700;
        margin-right: 20px;
        color: $color__primary;
    }

    .form__captcha {
        input {
            width: 59%;
        }
    }
}

.block__map {
    padding: 30px;
    border: 1px solid $color__primary;

    img {
        box-shadow: 7px 7px 20px rgba(#154276, 0.25);
        -webkit-box-shadow: 7px 7px 20px rgba(#154276, 0.25);
        -moz-box-shadow: 7px 7px 20px rgba(#154276, 0.25);
    }
}