.all__enterprises {
    .section__title {
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .section__actions {
        text-align: right;
    }

    .listing__all {
        .enterprise__featured {
            margin-bottom: 30px;

            &.main {
                margin-bottom: 92px;
            }
        }

        .section__actions {
            margin-bottom: 60px;
        }
    }
}

.enterprise__single {
    .main__breadcrumb {
        margin-bottom: 0;
    }

    .owl-dots {
        position: absolute!important ;
        margin-top: -70px!important;
        left: 50%;
        transform: translate(-50%, -50%);

        .owl-dot {
            span {
                border: 1px solid #ffffff;
            }
            &.active {
                span {
                    background-color: #ffffff!important
                }
            }
        }
    }

    .enterprise__carousel-wrapper {
        
        .enterprise__carousel  {
            position: relative;
            
        }
    }

    .btn-contact-form {
        width: 100%;
        margin-top: 20px;
        text-transform: uppercase;
        background-color: transparent;
        border: 1px solid $color__white;
    }

    .block__carousel {
        margin-bottom: 0;

        .content__wrapper {
            padding: 30px 15px 105px;
        }

        .owl-dots {
            position: absolute;
            bottom: 10px;
            width: 100%;

            .owl-dot {
                span {
                    border: 1px solid $color__white;
                }

                &.active,
                &.owl-dot:hover {
                    span {
                        background-color: $color__white;
                    }
                }
            }
        }
        
        .enterprise__carousel  {
            img {
                max-width: 100%;
                width: 100% !important;
            } 
        }
        
        .owl-nav {
            left: -110px;
            text-align: left;
            bottom: 65px;
        }

        .images__internal-carousel {
            top: -25px;
            position: absolute;

            .owl-nav {
                text-align: left;
                left: -115px;
                bottom: 67px;
            }
        }
    }

    .section__title {
        color: #333333;
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 35px;

        small {
            color: #144176;
            font-style: italic;
            font-size: 65%;
        }
    }

    .enterprise__info {
        top: -25px;
        z-index: 9;
        position: relative;
    }

    .info__enterprise {
        padding: 50px;
        position: relative;
        background-color: $color__white;
        box-shadow: 11px 11px 37px rgba($color__primary--darken, 0.35);
        -webkit-box-shadow: 11px 11px 37px rgba($color__primary--darken, 0.35);
        -moz-box-shadow: 11px 11px 37px rgba($color__primary--darken, 0.35);

        .info__details {
            float: left;
        }

        .info__thumbnail {
            margin-bottom: 45px;
        }

        .info__enterprise-details {
            color: $color__primary--darken;

            .enterprise__name {
                font-size: 18px;
            }

            .enterprise__label {
                font-weight: 600;
                font-size: 15px;
                line-height: 1.4;
            }
        }

        .info__description {
            color: #858585;
            font-size: 15px;
            line-height: 16px;
        }

        .info__by {
            color: $color__primary--darken;

            strong {
                font-weight: 600;
            }
        }

        .info__footer {
            left: -50px;
            margin-top: 55px;
            position: relative;

            .tag-forecast {
                strong {
                    font-weight: 700;
                }
            }
        }
    }

    .enterprise__images {
        .content-wrapper {
            padding-bottom: 130px;
        }
    }

    .enterprise__carousel {
        box-shadow: 13px 13px 45px rgba($color__primary--darken, 0.35);
        -webkit-box-shadow: 13px 13px 45px rgba($color__primary--darken, 0.35);
        -moz-box-shadow: 13px 13px 45px rgba($color__primary--darken, 0.35); 
    }

    @media (min-width: $screen-sm-max) {
        .enterprise__carousel {
            position: absolute;
            left: 0;
        }

        .enterprise__images .enterprise__carousel {
            top: -30px;
        }

        .enterprise__plans .enterprise__carousel {
            top: -5px;
        }
    }

    .enterprise__plans {
        .section__title {
            margin-top: 0;
        }

        .content__wrapper {
            padding-bottom: 125px;
        }

        .enterprise__carousel {}
    }

    .enterprise__locale {
        margin-bottom: 50px;
    }

    .enterprise__features {
        .section__listing {
            li {
                float: left;
                width: 25%;
                color: #858585;
                position: relative;
            }
        }
    }

    .enterprise__newsletter {
        padding: 25px 0;
        background-color: $color__dark-grey;

        @media (min-width: $screen-sm-max) {
            padding: 70px 0 40px;
        }

        input {
            padding: 9px;
        }

        label {
            margin-bottom: 10px;
        }

        strong {
            font-style: italic;
            font-weight: 600;
        }

        .newsletter__label {
            font-size: 40px;
            font-weight: 300;
            line-height: 1.2;
            color: $color__white;

            &::before {
                left: 0;
                top: 0;
                height: 100%;
                content: "";
                width: 3px;
                position: absolute;
                background-color: #ffffff;
            }
        }

        .btn-newsletter {
            border-radius: 0;
            background-color: #5593C6;

            &:hover {
                background-color: darken(#5593C6, 15%);
            }

            @media (min-width: $screen-sm) {
                margin-top: 48px;
            }
        }
    }

    .enterprise__newsletter-v2 {
        color: $color__white;
        background-color: #5593C6;
        padding-top: 35px;
        padding-bottom: 35px;

        .newsletter__label {
            display: inline-block;
            font-size: 25px;
            font-weight: 300;
            padding-left: 15px;
            border-left: 2px solid #fff;
            line-height: 1.2;

            strong {
                font-style: italic;
                display: block;
                font-size: 40px;
            }
        }

        input {
            padding: 5px 10px;
        }

        .form__download {
            @media (min-width: $screen-sm) {
                margin-top: 51px;
            }
        }
    }

    .enterprise__locale {
        margin-bottom: 162px;

        .enterprise__map {
            margin-top: 70px;
            box-shadow: 13px 13px 45px rgba($color__primary--darken, 0.35);
            -webkit-box-shadow: 13px 13px 45px rgba($color__primary--darken, 0.35);
            -moz-box-shadow: 13px 13px 45px rgba($color__primary--darken, 0.35);

            img {
                width: 100% !important;
            }
        }

        .section__title {
            text-transform: uppercase;

             @media(min-width: $screen-md){
                margin-top: 84px;
            }
        }
    }

    .enterprise__constructions {

        .enterprise__carousel {
            .owl-nav {
                bottom: 0;
            }
        }

        .enterprise__description {
            font-size: 16px;
            color: #858585;
        }

        .enterprise__chart {
            margin-top: 65px;
        }

        @media (min-width: $screen-sm) {
            padding-top: 60px;
            padding-bottom: 90px;
        }
    }
}