.page__florianopolis {
	.main__breadcrumb {
		margin-bottom: 65px;
	}
}

.block__florianopolis {

	padding-bottom: 110px;
	
   .block__content {
   		color: $color__text;
   		margin-bottom: 45px;
   		line-height: 1.6;
   }
	
	.section__listing {
		li {
			margin-bottom: 15px;
		}
	}

	.block__gallery {
		img {
			margin-bottom: 25px;
		}
	}
}