.page__home {
    .section__title {
        font-size: 40px;
    }

    .block__enterprise {
        padding-top: 70px;
        background: url(../../images/bg-home.png) no-repeat;

        .section__tag {
            float: left;
        }
    }
}

.main__banner {
    .main__carousel {
        .owl-dots {
            bottom: 5px;
            width: 100%;
            position: absolute;
        }
    }

    .banner__description {
        left: 0;
        bottom: 0;
        position: relative;
        text-align: center;
        position: absolute;
        padding: 50px 65px 80px;
        background-color: #fff;
        max-width: 805px;
        width: 80%;

        &:before {
            top: -15px;
            left: 50%;
            content: "";
            width: 30px;
            height: 30px;
            position: absolute;
            background-color: $color__primary;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
        }

        .banner__title {
            font-size: 28px;
            margin-bottom: 45px;
            font-weight: normal;
            color: $color__primary;
            font-family: $secondaryFont;
        }

        .banner__subtitle {
            font-size: 18px;
        }
    }

    .banner__actions {
        bottom: 0;
        right: 0;
        width: 28%;
        position: absolute;
    }
}

.block__enterprise {
    .enterprise__featured {
        position: relative;

        transition: all .3s;
        -moz-transition: all .3s;
        -webkit-transition: all .3s;

        &:hover {
            transform: translateY(-5px);
            -webkit-transform: translateY(-5px);
            -moz-transform: translateY(-5px);
        }

        &.main {
            margin-bottom: 95px;

            .enterprise__logo {
                padding: 25px;
                max-width: 200px;
            }

            .section__tag {
                max-width: none;
                padding: 12px 68px 12px 38px;

                strong {
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }

        .enterprise__image {
            display: block;
            box-shadow: 0 12px 39px rgba(#154276, .35);
            -webkit-box-shadow: 0 12px 39px rgba(#154276, .35);
            -moz-box-shadow: 0 12px 39px rgba(#154276, .35);
        }

        .enterprise__logo {
            padding: 15px;
            max-width: 85px;
            margin-left: 25px;
            margin-bottom: 20px;
            text-align: center;
            background-color: $color__white;
        }

        .enterprise__wrapper {
            left: 0;
            right: 0;
            bottom: 15px;
            position: absolute;
            pointer-events: none;
        }

        .enterprise__name {
            font-size: 18px;
        }

        .enterprise__description {
            color: $color__white;
            font-size: 15px;
        }
    }

    .listing__all {
        .enterprise__featured {
            margin-bottom: 30px;

            .enterprise__wrapper {
                left: 15px;
                right: 15px;
                bottom: 25px;
            }

            .enterprise__logo{
                margin-left: 0;
                margin-bottom: 10px;
            }
        }
    }
}

.aside__contact-us {
    height: 140px;
    margin: 30px 0;

    .aside__image {
        display: block;
        text-align: center;
    }
}

.block__blog {
    margin-top: 60px;
    padding-bottom: 0;

    .blog__post {
        margin-bottom: 30px;
        padding-right: 30px;
    }

    .post__info {
        position: relative;
    }

    header {
        .section__title {}
    }

    .post__thumbnail {
        display: block;

        @include transition(all 0.5s);

        img {
            height: auto;
            max-width: 100%;
        }

        &:hover {
            opacity: .8;
        }
    }

    .post__title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 32px;
        font-weight: 600;
    }

    .post__details {
        padding: 20px 0;
    }

    .post__excerpt {
        height: 130px;
        overflow: hidden;
        font-size: 16px;
        line-height: 25px;
        color: #878787;
    }

    .post__actions {
        text-align: right;
    }
}