@media (min-width: $screen-lg) and (max-width: 1460px) {
    .main-header {
        .header__nav {
            li:not(:last-child) {
                margin-right: 2.4%;
            }

            li > a:not(.btn-book-now) {
                font-size: 12px;
            }

            .btn-book-now {
                padding: 5px 10px;
            }
        }
    }
}

@media (min-width: $screen-sm) and (max-width: $screen-md-max) {
    .main-header {
        .header__nav {
            margin-top: 20px;
            text-align: center;
        }

        .align-flex {
            flex-direction: column;
        }

        li:last-child {
            display: none;
        }
    }
}

@media (max-width: $screen-lg) {
    .main__banner {
        .banner__description {
            width: 100%;
            bottom: 120px;
        }

        .banner__actions {
            width: 100%;
        }
    }
}

@media (max-width: $screen-md) {
    .block__technical-features {
        .block__featured-item {
            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }
    }

    .block__section {
        margin-top: 45px;
        padding-bottom: 45px;
    }

    .main__footer {
        .block__newsletter {
            @include clearfix;

            .block__title {
                display: block;
                font-size: 18px;
                margin-bottom: 15px;
            }

            .block__subtitle {
                font-size: 14px;
            }

            .form__newsletter {
                label[for="newsletter_email"] {
                    width: 65%;
                }

                .btn-newsletter {
                    width: 34%;
                }
            }
        }
    }

    .blog {
        .block__aside {
            &:before {
                left: 0;
            }

            h3 {
                padding-left: 15px;
            }
        }
    }

    .block__main-features {
        .main-features__wrapper {
            flex-direction: column;
        }

        .carousel__hotel-features {
            margin-top: 45px;
        }
    }

    .main__footer {
        .hotel__list {
            .hotel__item {
                margin-top: 30px;
            }
        }
    }

    .block__contact {
        .contact__info,
        .contact__form {
            .section__title {
                margin-bottom: 40px;
            }
        }
    }
}

@media (max-width: 680px) {
    .blog {
        .blog__post:not(.single__post) {
            .post__actions {
                display: none;
            }
        }
    }
}

@media (max-width: $screen-sm-max) {
    .page__ceranium {
        .ceranium__history {
            margin-top: 15px;
        }

        .ceranium__history {
            .block__gallery {
                margin-bottom: 40px;
                text-align: center;
            }
        }
    }

    .enterprise__single {
        .enterprise__locale {
            .enterprise__map {
                margin-top: 25px;
            }
        }
    }

    .block__contact {
        .form__contact-methods {
            margin-top: 40px;
            margin-bottom: 20px;
        }
    }

    .block__florianopolis {
        padding-bottom: 45px;
    }

    .page__home {
        .section__title {
            font-size: 32px;
        }
    }

    .block__team {
        .block__winner-team {
            h2 {
                padding-top: 0;
                font-size: 32px;
                font-style: normal;
            }

            .team__image {
                margin: 15px 0 45px;

                img {
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                }
            }
        }
    }

    .enterprise__single {
        .info__enterprise {
            .info__by {
                display: block;
                padding: 20px;
            }
        }

        .block__carousel {
            .content__wrapper {
                padding-bottom: 50px;
            }
        }

        .enterprise__features {
            .section__listing {
                li {
                    width: 50%;
                }
            }
        }

        .block__section {
            margin-bottom: 0;
            padding-bottom: 0;

            .section__tag {
                width: 100%;
                margin-left: 20px;
            }

            .info__by {
                padding: 20px 0 0 45px;
            }

            &.enterprise__locale  {
                padding-bottom: 45px;
            }
        }

        .enterprise__newsletter {
            .newsletter__label {
                display: block;
                margin-bottom: 20px;
            }
        }

        .enterprise__newsletter-v2 {
            .newsletter__label {
                margin-bottom: 20px;
            }

            label {
                margin-bottom: 10px;
            }
        }
    }

    .main-header {
        .header__logo {
            text-align: center;
        }
    }
}

@media (max-width: $screen-xs) {
    .main__banner {
        .banner__description {
            padding: 45px 25px;
        }
    }

    .footer__contact {
        .contact__wrapper {
            display: block;
            text-align: center;
        }

        .contact__formlist {
            li {
                background-color: $color__primary;
            }

            a,
            .label__name {
                color: $color__white;
            }
        }

        p {
            padding: 10px 0;
            text-align: center;
            font-size: 13px;
            display: block;
        }

        .contact__formlist {
            li {
                width: 100%;
                border-radius: 0;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                display: inline-block;
            }
        }
    }

    .main__breadcrumb {
        .block__page-title {
            line-height: 1.6;
            font-size: 24px;
        }
    }

    .enterprise__single {
        .enterprise__features {
            .section__listing {
                li {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: $screen-xxs) {
    .main__footer {
        .block__newsletter {
            .form__newsletter {
                label[for="newsletter_email"],
                .btn-newsletter {
                    width: 100%;
                }

                .btn-newsletter {
                    margin-top: 5px;
                }
            }
        }
    }
}