$primaryFont: 'Open Sans', sans-serif;

$color__white: #fff;
$color__light-grey: #f4f4f4;
$color__soft-grey: #eee;
$color__dark-grey: #222;
$color__medium-grey: #202020;
$color__yellow: #ffcb05;
$color__black: #000;  
$color__light-green: #8dc63f;   

$color__text: #1F1F1F; //$color__medium-grey;

$color__primary: #154276;
$color__primary--darken: #154276;
$color__secondary: #0e5c73;
$color__terciary: #fec63f;


//== Media queries breakpoints ==//

$screen-xxs:				380px !default;

// Extra small screen / phone

$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;

// Small screen / tablet

$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;

// Medium screen / desktop

$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;

// Large screen / wide desktop

$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;

$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;