.aside__info-contact {
    padding: 20px 15px;
    color: $color__white;
    background-color: #5593C6;

    .section__title {
        margin-top: 0;
        font-size: 30px;
        color: $color__white;
        margin-bottom: 30px;

        &:before {
            width: 2px;
            background-color: $color__white;
        }
    }

    .contact__listing {
        font-size: 20px;
        font-weight: 300;

        .icon {
            float: none;
            vertical-align: middle;
        }
    }

    .contact__form {
        margin-top: 10px;

        ::-webkit-input-placeholder {
            color: #858585;
        }

        ::-moz-placeholder {
            color: #858585;
        }

        :-ms-input-placeholder {
            color: #858585;
        }
    }

    p {
        font-size: 18px;
        font-weight: 300;
        line-height: 1.7;
        color: $color__white;

        strong {
            color: #5593C6;
            font-weight: 600;
            font-style: italic;
            background-color: $color__white;
        }

        em {
            background-color: transparent;
            border: 1px solid $color__white;
        }

        strong, em {
            font-family: $secondaryFont;
            padding: 2px 5px;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
        }
    }

    input[type="text"],
    input[type="password"] {
        margin-bottom: 15px;
        height: 40px;
    }

    .btn-contact-form {
        font-size: 16px;
        color: $color__white;
        text-transform: uppercase;

        &:hover {
            background-color: $color__white;
            color: #5593C6;
        }
    }
}