.main__breadcrumb {
    display: table;
    margin-bottom: 45px;
    width: 100%;
    padding: 18px 0;
    background-color: $color__primary;

    .block__page-title {
		line-height: 1;
        font-size: 30px;
        font-weight: 300;
        padding-left: 15px;
        color: $color__white;
        font-family: $secondaryFont;

        border: {
        	width: 0;
        	style: solid;
        	color: $color__white;

        	left: {
        		width: 2px;
        	}
        }
    }

    .block__breadcrumb {
        text-align: right;
        display: table-cell;
        vertical-align: middle;

        li {
            font-size: 14px;
            display: inline-block;
            color: $color__white;

            &:not(:last-child) {
                &:after {
                    content: ">";
                    font-size: 13px;
                    margin: 0 5px 0 10px;
                }
            }

            &.is-active {
                font-weight: 600;
                text-transform: uppercase;
            }
        }

        a {
            color: $color__white;
        }
    }
}