.main__footer {
    padding: 30px 0 35px;
    color: $color__white;
    background-color: #3a78ab;

    .social__listing {
        margin-top: -6px;
    } 

    @media (min-width: $screen-md + 1) {
        .footer__block-1 {}

        .footer__block-2 {
            text-align: center;
        }

        .trip-advisor {
            width: 11%;
        }

        .footer__block-3 {
            padding-left: 40px;
            border-left: 1px solid #343844;
        }
    }

    .block__about {
        .footer__logo {
            float: left;
            margin-right: 40px;
        }

        .footer__description {
            font-size: 14px;
            font-weight: 300;
        }
    }

    .block__social {
        margin-top: 30px;
        padding-top: 15px;
        border-top: 1px solid $color__white;

        @media (min-width: $screen-md) {
            .contact__listing {
                float: left;
                width: 70%;
            }
        }
    }

    .block__newsletter {
        @include clearfix;

        .block__title {
            display: block;
            font-size: 18px;
            margin-bottom: 15px;
        }

        .block__subtitle {
            font-size: 14px;
        }

        .form__newsletter {
            margin-top: 30px;

            ::-webkit-input-placeholder {
                color: $color__white;
            }

            ::-moz-placeholder {
                color: $color__white;
            }

            :-ms-input-placeholder {
                color: $color__white;
            }

            :-moz-placeholder {
                color: $color__white;
            }

            label[for="newsletter_email"] {
                width: 80%;
                float: left;
                display: block;
                margin-right: 1%;
            }

            input[type="email"] {
                background-color: transparent;
                border: 1px solid $color__white;
            }

            .btn-newsletter {
                width: 19%;
            }
        }
    }
}

.footer__contact {
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    position: fixed;
    color: $color__white;
    background-color: $color__primary;

    a {
        font-weight: 700;
        color: $color__white;
    }

    p {
        display: table-cell;
        vertical-align: middle;
        color: $color__white;

        strong {
            font-style: italic;
        }
    }

    .contact__wrapper {
        display: table;
        width: 100%;
    }

    .contact__formlist {
        display: table-cell;
        vertical-align: middle;

        li {
            padding: 9px 30px;
            margin-top: -15px;
            display: inline-block;
            background-color: $color__white;

            @media (min-width: $screen-md) {
                border-radius: 12px 12px 0 0;
                box-shadow: 2px 0 4px rgba($color__black, 0.15);
                -webkit-box-shadow: 2px 0 4px rgba($color__black, 0.15);
                -moz-box-shadow: 2px 0 4px rgba($color__black, 0.15);
            }
        }

        .label__name {
            font-weight: 700;
            color: $color__primary;
        }

        a {
            font-size: 14px;
            font-weight: 600;
            color: $color__primary;
        }
    }
}