input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
select,
textarea {
    width: 100%;
    padding: 12px;
    outline: none;
    color: $color__text;
    border: 1px solid transparent;
    background-color: $color__white;
    font-size: 14px;

    @include transition(all 0.5s);

    &:hover {
        border-color: $color__primary !important;

    }

    &:focus {
        border-color: $color__primary !important;
    }
}

textarea {
    height: 150px;
    resize: none;
}

label {
    display: block;
}

.contact__form {
    ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        font-size: 14px;
    }

    ::-moz-placeholder {
        /* Firefox 19+ */
        font-size: 14px;
        text-transform: lowercase;
    }

    :-ms-input-placeholder {
        /* IE 10+ */
        font-size: 14px;
        text-transform: lowercase;
    }

    :-moz-placeholder {
        /* Firefox 18- */
        font-size: 14px;
        text-transform: lowercase;
    }

    .form__fields {
        label {
            display: block;
            margin-bottom: 20px;
        }
    }
}